.food_item__container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.food_item__container span {
    font-size: large;
    font-weight: 500;
}

.food_item__disabled {
    text-decoration: line-through;
    color: gray;
}

.food_item__buttons {
    display: flex;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .food_item__container {
        padding: .5rem;
    }
}